
body {
    display: flex;
    flex-direction: column;

    padding: 50px;

    min-height: 100vh;

    box-sizing: border-box;
}

h1 {
    font-size: 48px;
}

#form {
    align-self: center;

    display: flex;

    gap: 50px;

    margin-top: 100px;

    width: 80%;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
    border-radius: 5px;

    background-color: white;

    padding: 50px;

    box-sizing: border-box;

    z-index: 1;
}

#form-inputs {
    display: flex;
    flex-direction: column;
    gap: 50px;

    min-width: 500px;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input input {
    padding: 10px;
    border: solid;
    border-width: 3px;
    border-color: var(--black);
    border-radius: 5px;
    font-size: 18px;
    font-family: "Oswald";
    text-align: center;
}

#form-upload {
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 80%;
    aspect-ratio: 1/1;

    border: solid;
    border-width: 3px;
    border-color: var(--black);
    border-radius: 5px;

    background-color: var(--gray);

    cursor: pointer;
}
#form-upload * {
    user-select: none;
    pointer-events: none;
}

#form-preview {
    position: relative;

    display: flex;
    flex-direction: column;

    flex: 1;

    gap: 10px;

    padding: 50px;
    padding-bottom: 150px;

    background-color: var(--gray);
    
    border: solid;
    border-width: 3px;
    border-color: var(--black);
    border-radius: 5px;

    box-sizing: border-box;
}

#form-collection-preview {
    display: flex;
    flex-direction: column;

    opacity: 0;

    padding: 10px;

    border: solid;
    border-width: 3px;
    border-color: var(--black);
    border-radius: 5px;


    font-family: "Fira Code";

    background-color: var(--white);
}

#form-keywords-preview {
    display: flex;

    gap: 10px;
}

.form-keyword-preview {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    background-color: var(--white);

    padding: 10px;
    
    border: solid;
    border-width: 3px;
    border-color: var(--black);
    border-radius: 5px;

    font-family: "Fira Code";

    user-select: none;
    cursor: pointer;
}

#form-upload-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-image-preview {
    position: relative;

    display: flex;

    height: 200px;

    cursor: pointer;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
}

.form-image-preview span {
    position: absolute;

    top: -5px;
    right: -5px;

    background-color: var(--white);
    border: solid;
    border-width: 3px;
    border-color: var(--black);
    border-radius: 50%;
}

#form-send {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;

    width: 50%;

    background-color: var(--black);
    color: var(--white);

    padding: 10px;

    border: solid;
    border-width: 3px;
    border-color: var(--black);
    border-radius: 5px;

    box-sizing: border-box;

    cursor: pointer;
}