
:root {
    --black: #181A18;
    --gray: #F5F5F5;
    --white: #FFFFFF;
}

body {
    position: relative;

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;

    padding: 0px;
    margin: 0px;

    font-family: "Oswald";

    background-color: var(--white);
    
    box-sizing: border-box;
}


.background {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: -1;

    overflow: hidden;
}

.circle-filled {
    position: absolute;

    width: 10vw;
    height: 10vw;

    border-radius: 50%;

    background-color: var(--black);
}

.circle-outlined {
    position: absolute;

    width: 10vw;
    height: 10vw;

    border-radius: 50%;

    border: 2px solid var(--black);

    box-sizing: border-box;
}