:root {
    --text: #181A18;
  
    --primary: #FFFFFF;
  
    --purple: #702963;
    --blue: #89CFF0;
    --green: #097969;
    --yellow: #AA6C39;
}
  

body {
    position: relative;

    font-family: "Comfortaa";
    margin: 0px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    overflow-x: hidden;

    width: 100%;
    min-height: 100vh;
    padding: 50px 0px;
    box-sizing: border-box;
}

#gl-rendering {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

input {
    width: 100%;
    padding: 10px;
    border: solid;
    border-width: 3px;
    border-color: var(--text);
    border-radius: 5px;
    font-size: 18px;
    font-family: "Comfortaa";
    text-align: center;
}

#header {
    position: absolute;
    top: 50px;
    left: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 25px;

    cursor: pointer;
    user-select: none;
}
#header img {
    height: 75px;
}
#header a {
    font-size: 28px;
    font-weight: bold;
    color: var(--text);
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

#resume, #portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 50vh;
    max-width: 80vw;

    margin: 100px;
}

#resume .render, #portfolio .render {
    position: relative;

    width: 100%;
    height: 100%;

    border: solid;
    border-width: 5px;
    border-color: var(--purple);
    border-radius: 5px;

    background-color: var(--primary);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#letter {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 25px;
    margin: 50px;

    background-color: var(--primary);

    border: solid;
    border-width: 5px;
    border-color: var(--purple);
    border-radius: 5px;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

    padding: 50px;
}

.loading {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    user-select: none;
}
.loading span {
    font-size: 56px !important;
    color: var(--blue);
}

.options {
    margin-top: 25px;

    display: flex;
    justify-content: center;
    gap: 50px;
}
.options div {
    padding: 10px 20px;
    border: solid;
    border-width: 3px;
    border-color: var(--text);
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

@media (orientation: portrait) {
    #resume {
        margin-top: 200px;
    }
}