body {
  font-family: "Comfortaa";
}

#gl-rendering {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#navbar {
  list-style-type: none;
  text-align: center;
  padding-top: 50px;
  padding-left: 0px;
}

#navbar li {
  display: inline-block;
  color: black;
  margin-right: 15px;
  transition: 0.3s;
  font-size: 24px;
}

#title {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  list-style-type: none;
  padding-left: 0px;
}

#title li {
  margin-bottom: 30px;
  font-size: 28px;
  vertical-align: middle;
}

.research-subsection {
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

.card {
  margin-top: 100px;
  margin-bottom: 100px;
}

.campus-activities {
  padding-left: 10vw;
  padding-right: 10vw;
}

#contact-addresses {
  padding-left: 2vw;
}

#contact-socials {
  padding-left: 2vw;
}

@media screen and (orientation:portrait) {
  #resume {
    width: 250px;
  }
}

@media screen and (orientation:landscape) {

  #title li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
  }

  #resume {
    width: 600px;
  }

  .subsection {
    padding-left: 7vw;
  }
}