:root {
  --solarized-dark: #002b36;
  --solarized-light: #005f81;
}


body {
  margin: 0px;
  padding: 0px;
}


/* Message */
#message {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0px;
  left: 50%;

  transform: translate(-50%, -100%);

  min-width: 120px;

  border-radius: 15px;
  padding: 15px 25px;

  z-index: 1;

  user-select: none;
  pointer-events: none;
}
#message a {
  font-family: 'Pixelify Sans';
  font-size: 22px;
  font-weight: 600;

  color: white;

  text-decoration: none;

  cursor: pointer;
}


/* Hero */
#hero {
  position: relative;

  width: 100%;
  height: 100vh;

  overflow: hidden;
}

#hero canvas {
  position: absolute;

  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background-color: #002b36;

  z-index: -1;
}

#header {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 50px;

  top: 10vh;
  left: 50%;

  width: 80%;

  transform: translateX(-50%);

  user-select: none;
  pointer-events: none;
}

#header-icon {
  width: 256px;
  height: 256px;

  object-fit: contain;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#header h2 {
  font-family: 'Pixelify Sans';

  font-size: 64px;
  font-weight: 600;

  color: white;
}

@media (max-width: 1024px) {
  #header {
    flex-direction: column;
  }

  #header img {
    width: 128px;
    height: 128px;
  }

  #header h2 {
    font-size: 36px;
    text-align: center;
  }
}


/* Navbar */
#navbar {
  position: absolute;

  display: flex;
  flex-direction: column;

  gap: 50px;

  bottom: 50px;
  left: 50px;

  border: solid;
  border-width: 0px;
  border-left-width: 5px;
  border-color: var(--solarized-light);

  padding: 50px;

  user-select: none;
  pointer-events: none;
}

.navbar-h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.navbar-h1 span {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.navbar-h1 a {
  font-family: 'Pixelify Sans';

  font-size: 36px;
  font-weight: 600;
  color: white;

  text-decoration: none;

  cursor: pointer;
  pointer-events: auto;
}



/* Minecraft */
#minecraft {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 50px;

  gap: 50px;

  background-color: #392B18;
}

#minecraft::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-image: url('/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  mask-image: linear-gradient(-45deg, black 0%, transparent 50%);
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;

  z-index: -1;
}

#minecraft h1 {
  font-family: 'Pixelify Sans';
  font-size: 64px;
  font-weight: 600;
  color: white;
}

#minecraft-server {
  display: flex;
  flex-direction: column;

  gap: 50px;

  padding: 50px;

  user-select: none;
  pointer-events: none;

  border: solid;
  border-width: 0px;
  border-left-width: 5px;
  border-color: #A5845C;
}

#minecraft-server-name {
  font-family: 'Pixelify Sans';

  font-size: 32px;
  font-weight: 600;

  margin: 0px;

  color: white;
}

#minecraft-server-ip {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: fit-content;

  gap: 20px;

  padding: 20px;

  border-radius: 10px;

  background-color: #1c1a17;
}
#minecraft-server-ip a {
  color: white;
  font-family: 'Pixelify Sans';
  font-size: 24px;
  font-weight: 600;

  text-align: center;

  cursor: pointer;
  user-select: all;
  pointer-events: auto;
}
#minecraft-server-ip span {
  color: white;

  font-size: 28px;

  cursor: pointer;
  pointer-events: auto;
}

#minecraft-server-details {
  display: flex;
  flex-direction: row;
  gap: 54px;
}

#minecraft-server-icon {
  position: relative;

  width: 256px;
  aspect-ratio: 1/1;

  background-color: #1c1a17;

  border-radius: 10px;
  
  box-sizing: border-box;
}

#minecraft-server-icon img {
  position: absolute;

  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  object-fit: contain;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  border-radius: 10px;
}

#minecraft-server-status {
  position: absolute;

  top: 0px;
  right: 0px;

  width: 32px;
  height: 32px;

  border-radius: 50%;

  background-color: red;

  transform: translate(50%, -50%);
}

#minecraft-server-config {
  display: flex;
  flex-direction: column;
}

#minecraft-server-config h3 {
  font-family: 'Pixelify Sans';

  font-size: 36px;
  font-weight: bold;

  color: white;

  margin: 0px;
}

#minecraft-server-download {
  margin-top: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: 'Pixelify Sans';
  font-size: 24px;
  font-weight: 600;

  color: white;
  background-color: #1c1a17;

  gap: 20px;

  padding: 20px;
  
  border: solid;
  border-color: #A5845C;
  border-width: 2px;
  border-radius: 15px;

  cursor: pointer;
  pointer-events: auto;
}